@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root, body {
    font-family: "Calibre", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}